.haxelib/
export/
*.exe
*.obj
*.pdb
.DS_Store
lime/
hxcodec/
hxCodec/
hxcpp/
openfl/
flixel/
flixel-addons/
flixel-ui/
flixel-tools/
hscript/
faxe/
discord_rpc/
linc_luajit/
funkin,vis/
grig,audio/
flxanimate/
